@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
.navbar .navbar-brand{
	font-family: 'Pacifico', cursive;
	font-size:30px;
}
.collapse .navbar-nav .nav-item{
	font-weight:bold;
	font-size:20px;
	margin-top:5px;
}
a{
	color:white!important;
}
.dongcake i{
	font-size:40px;
}

.anhgioithieu{
	border-radius:20px;
}
.dangki{
	height:300px;
	background-color:rgba(225,31,34,1.00);
	color:white;
	font-weight:100;
}
.nhaplieu{
	padding-right:300px;
	padding-top:10px;
	padding-bottom:10px;
}
.nhaplieu placeholder{
	padding-left:20px;
}
.onhap i{
	padding:16px 27px;
	background-color:#28a745;
	color:white;
}
.onhap i:hover{
	background-color:white;
	color:#28a745;
}
.footer{
   height:400px;
	
}
.footer i{
	color:red;
}
.chanhleo{
	display:grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-gap:10px;
}
.chanhleo img{
	width:100%;
}
.ngaygio span{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:black;
}
.navigation a{
	text-decoration: none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin-left:10px;
	color:black!important;
	
}
.contactus span{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.anhconinstagram img{
	width:100%;
}
.anhconinstagram{
	display:grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	grid-gap:10px;
	margin-top:30px;
	
}
.carousel-inner{
	height:100vh;
}
.aboutus{
	background-color:rgba(255,206,17,1.00);
	height:200px;
	font-family:'Pacifico', cursive;
}

.bacot p{
   font-size:19px;
}
.birthdaycake i{
	color:#28a745;
	font-size:40px;
}
.stats i{
	
	font-size:40px;
}
.submit{
	height:50px;
}
.daygallery li{
	display:inline;
	list-style:none;
	font-size:20px;
}
.anhgallery{
	display:grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto;
	grid-gap:20px;
}
.anhgallery img{
	width:100%
}
.namicon i{
	font-size:25px;
	padding:10px;
}